 <div class="list-group" id="selectable">
    <% for(var i=0; i<hits.hits.length; i++) {%>
        <!-- Endpoint Result Template -->
        <% if(hits.hits[i]._source.DATA_TYPE == 'file' || hits.hits[i]._source.DATA_TYPE == 'dir') {%>
             <% var d = new Date(hits.hits[i]._source.last_modified); 
                var time_options = {
                        hour: "2-digit", minute: "2-digit"
                };
                var date_options = {
                       year: "numeric", month: "2-digit",
                       day: "2-digit"
                    };
    
                date_string = d.toLocaleDateString("en-US",date_options)
                time = d.toLocaleTimeString("en-US", time_options);
             %>
    
            <div id="result-set-<%=i%>-<%= hits.hits[i]._id %>" class="list-group-item result-set-item primary" style="min-height:100px;">
                <div class="pull-right search-result col-sm-3 col-xs-3">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-calendar gray-icon"></i> <%= date_string %></li>
                        <li><i class="glyphicon glyphicon-time gray-icon"></i> <%= time %></li>
                        <li><i class="glyphicon glyphicon-record gray-icon"></i> <%= hits.hits[i]._source.endpoint %></li>
                        <li><i class="glyphicon glyphicon-inbox gray-icon"></i> <%= fileSizeSI(hits.hits[i]._source.size) %></li>
                    </ul>
                </div>
                <h3><%= hits.hits[i]._source.name %></h3>
    
                <div>
                        <div id="result-set-tag-<%= hits.hits[i]._id %>"><h4>
                            <% if(tags = hits.hits[i]._source.tags){%>
                                        <h4>
                                        <% for(var j=0; j<tags.length; j++) { %>
                                                <label class='label label-primary label-tag'> <%= tags[j] %>
                                                </label>&nbsp 
                                        <% } %>
                                        </h4>
                            <%}%>
                        </div>
                </div>
            </div>
        <%}%>
        <!--END Endpoint Result Template -->
        
        <!--Publish Result Template -->
        <% if(hits.hits[i]._source.DATA_TYPE == 'publish') {%>
            <% var d = new Date(hits.hits[i]._source.accessioned); 
                var time_options = {
                        hour: "2-digit", minute: "2-digit"
                };
                var date_options = {
                       year: "numeric", month: "2-digit",
                       day: "2-digit"
                    };
    
                date_string = d.toLocaleDateString("en-US",date_options)
                time = d.toLocaleTimeString("en-US", time_options);
             %>
    
            <div id="result-set-<%=i%>-<%= hits.hits[i]._id %>" class="list-group-item result-set-item primary" style="min-height:100px;">
                <div class="pull-right search-result col-sm-3 col-xs-3">
                    <ul class="meta-search">
                        <li><i class="glyphicon glyphicon-calendar gray-icon"></i> <%= date_string %></li>
                        <li><i class="glyphicon glyphicon-time gray-icon"></i> <%= time %></li>
                        <li><i class="glyphicon glyphicon-inbox gray-icon"></i> <%= hits.hits[i]._source.files.length %> files</li>
                        <li><i class="glyphicon glyphicon-record gray-icon"></i> <%= hits.hits[i]._source.collection %></li>
                        <li><a href="<%= hits.hits[i]._source.publish_url %>" class="btn btn-default btn-xs">View Dataset</a></li>
                    </ul>
                </div>
                
                   
                <h3>
                    <%= hits.hits[i]._source.title %>
                </h3>
                <hr>
                 <div id="result-set-authors-<%= hits.hits[i]._id %>" style="padding-top:5px; padding-bottom:5px">
                        <% if(authors = hits.hits[i]._source.author){%>
                                <h6> 
                                <% for(var j=0; j<authors.length; j++) { %>
                                        <%= authors[j] %>;&nbsp 
                                <% } %>
                                </h6>
                        <%}%>
                    </div>
                <p>
                    <%=  hits.hits[i]._source.description %>
                </p>
                <hr>
                <div>
                    <div id="result-set-keyword-<%= hits.hits[i]._id %>" style="padding-top:5px; padding-bottom:5px">
                        <% if(keywords = hits.hits[i]._source.keywords){%>
                            <h4>
                                <% for(var j=0; j<keywords.length; j++) { %>
                                    <label class='label label-default label-tag'> 
                                        <%= keywords[j] %>
                                    </label>&nbsp 
                                <% } %>
                            </h4>
                        <%}%>
                    </div>
                        
                    <div id="result-set-tag-<%= hits.hits[i]._id %>" style="padding-top:5px; padding-bottom:5px">
                        <% if(tags = hits.hits[i]._source.tags){%>
                            <h4>
                                <% for(var j=0; j<tags.length; j++) { %>
                                    <label class='label label-primary label-tag'>
                                        <%= tags[j] %>
                                    </label>&nbsp 
                                <% } %>
                            </h4>
                        <%}%>
                    </div>
                    
                    
                </div>
            </div>
        <%}%>
        <!--END Publish Result Template -->
    <%}%>
</div>